<h1><%= @meetup.name %></h1>

<h2><%= @meetup.description %></h2>
<h2><%= @meetup.location %></h2>

<% if @signed_in %>
  <% if !@member_of_group.include?(@meetup.id) %>
    <form action="/meetup/join/<%= @meetup.id %>" method="post">
      <input type="submit" value="Join!">
    </form>
  <% else %>
    <form action="/meetup/comment/<%= meetup.id %>" method="post">
      <input type="text" name="comment_title" placeholder="Enter comment title">
      <input type="text" name="comment_body" placeholder="Enter comment content" required>
      <input type="submit" value="Submit">
    </form>
    <form action="/meetup/leave/<%= @meetup.id %>" method="post">
      <input type="submit" value="Leave">
    </form>
  <% end %>
<% end %>
